azure-ai-formrecognizer==3.3.0
azure-common==1.1.28
azure-core==1.29.2
azure-identity==1.14.0
azure-search-documents==11.3.0
azure-storage-blob==12.17.0
charset-normalizer==3.2.0
chroma-hnswlib==0.7.2
chromadb==0.3.29
click==8.1.6
clickhouse-connect==0.6.8
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.4
compressed-rtf==1.0.6
cryptography==41.0.3
dataclasses-json==0.5.14
debugpy==1.6.7.post1
decorator==5.1.1
defusedxml==0.7.1
docx2txt==0.8
duckdb==0.8.1
h11==0.14.0
hnswlib==0.7.0
iniconfig==2.0.0
langchain==0.0.264
langsmith==0.0.22
numexpr==2.8.5
numpy==1.24.4